.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.item {
    transition: 500ms;
}

.item:hover {
    color: #db9989;
    cursor: pointer;
}

.custom-radio div {
    padding-left: 2.5rem;
}